#search_field{
    padding: 4rem 0;
    background-color: $color-white;

    .search_field_content{
        padding: 0 $pd-6;
        width: 100%;
        border: $border-3;
        border-right: 0;
        position: relative;
        div{
            width: 85%;
            padding: $pd-1 0;
            border-right: $border-3;
            input{
                width: 80%;
            }
        }
        
    }
    .back_to_top{
        font-size: $font-size-1;
        color: $color-blue-200;
        margin-bottom: 0;
        cursor: pointer;
        position: absolute;
        right: 4%;
        i{
            transform: translateY(0);
        }
    }
}

@media screen and (max-width:1050px) {
   #search_field{
    position: relative;
    .back_to_top_xs{
        display: block!important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1%;
        text-align: center;
        width: 100%;
        border-top: $border-3;
        padding: $pd-2 - 3;
    }
    .search_field_content{
        display: block;
        input{
            &::placeholder{
                font-size: $font-size-2;
                transform: translateY(-5px);
            }
        }
        div{
            display: flex;
            align-items: center;
            border-right: 0;
            width: 100%;
            button{
                transform: translate(0);
            }
        }
        .back_to_top{
            display: none;
        }
    }
    
   }

}



