#vehicles_function{
    padding: 0 $pd-5 $pd-2;
    width: 95%;
    margin: $mg-6 0;
    .vehicles_function_content{
        .col-3{
            padding: 0 $pd-1 - 3;
        }
        .vehicles_function_item{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 3px;
            text-align: center;
            padding: $pd-6;
            padding-top: $pd-5;
            border: $border-2;
            transition: all .5s;
            cursor: pointer;
            &:hover{
                transform: translateY(- $mg-1);
            }
            &:hover .btn-function{
                background-color: transparent;
                color: $color-blue-200;
            }
            &:hover .btn_search{
                background-color: $color-blue-100;
                color: $color-white;
            }
            i{
                font-size: $font-size-4 - .4rem;
                color: #265073;
                margin: $mg-2;
            }
            h3{
                color: #265073;
            }
            p{
                color: #2D9596;
                
            }

        }
    }
}
